@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 6, ../sass/style.scss */
html, body {
  background-color: #fbeeee;
}

/* line 10, ../sass/style.scss */
body {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  text-align: center;
}

/* line 15, ../sass/style.scss */
a {
  color: #545454;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}
/* line 21, ../sass/style.scss */
a:hover {
  text-decoration: none;
  color: orange;
}

/* line 27, ../sass/style.scss */
ul {
  list-style-type: none;
}
/* line 29, ../sass/style.scss */
ul li {
  text-align: left;
}

/* line 33, ../sass/style.scss */
#card-container {
  width: 370px;
  height: 118px;
  margin: 0 auto;
  margin-top: 5%;
}

/* line 39, ../sass/style.scss */
#card {
  opacity: 0;
  background-color: #fbfbfb;
  width: 370px;
  height: 118px;
  border: 1px solid grey;
  border-radius: 2px;
  box-shadow: 5px 5px 0px grey;
  -webkit-box-shadow: 5px 5px 0px grey;
  -moz-box-shadow: 5px 5px 0px grey;
  padding: 1%;
  cursor: move;
  z-index: 3;
  position: absolute;
}
/* line 50, ../sass/style.scss */
#card h1 {
  margin-top: 0;
}

/* line 55, ../sass/style.scss */
#under-card {
  opacity: 0;
  width: 370px;
  height: 118px;
  border-radius: 1px;
  background-color: black;
  position: absolute;
  z-index: 2;
}

/* line 66, ../sass/style.scss */
#contact {
  margin-top: 10%;
}
