@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 8, ../sass/style.scss */
html {
  background-color: none;
}

/* line 11, ../sass/style.scss */
.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* line 16, ../sass/style.scss */
body {
  background: linear-gradient(90deg, #fbeeee, white);
}

/* line 20, ../sass/style.scss */
body {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  text-align: center;
}
/* line 24, ../sass/style.scss */
body #hero {
  height: 100vh;
}

/* line 29, ../sass/style.scss */
a, a:visited {
  color: #018fa0;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
}
/* line 35, ../sass/style.scss */
a:hover, a:visited:hover {
  text-decoration: none;
  color: #545454;
}

/* line 41, ../sass/style.scss */
ul {
  list-style-type: none;
}

/* line 47, ../sass/style.scss */
#card-container {
  width: 365px;
  height: 118px;
  margin: 0 auto;
  margin-top: 6%;
}

/* line 53, ../sass/style.scss */
#card {
  opacity: 0;
  background-color: #fbfbfb;
  width: 365px;
  height: 118px;
  border: 1px solid grey;
  border-radius: 2px;
  box-shadow: 5px 5px 0px grey;
  -webkit-box-shadow: 5px 5px 0px grey;
  -moz-box-shadow: 5px 5px 0px grey;
  padding: 1%;
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 3;
  position: absolute;
}
/* line 64, ../sass/style.scss */
#card h1 {
  margin-top: 0;
}

/* line 70, ../sass/style.scss */
#under-card {
  opacity: 0;
  width: 365px;
  height: 118px;
  background-image: url("../assets/img/jeff.jpg");
  border: 1px solid grey;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

/* line 80, ../sass/style.scss */
#about {
  color: #545454;
  text-align: left;
  line-height: 200%;
  margin-top: 10%;
  height: 300px;
}
/* line 86, ../sass/style.scss */
#about #hello {
  animation-duration: 0.8s;
  animation-name: slideIn;
}
/* line 90, ../sass/style.scss */
#about #contact {
  text-align: right;
  animation-duration: 0.8s;
  animation-name: slideIn;
}

/* line 96, ../sass/style.scss */
#scroll-down {
  opacity: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 1px 1px 1px grey;
  -webkiet-box-shadow: 1px 1px 1px grey;
  cursor: pointer;
  cursor: -webkit-pointer;
  background-color: white;
  transition: background-color 0.5s;
  animation: jingle 1s infinite;
  -webkit-animation: jingle 1s infinite;
  transform-origin: top;
}
/* line 114, ../sass/style.scss */
#scroll-down:hover {
  background-color: yellow;
}
/* line 117, ../sass/style.scss */
#scroll-down .glyphicon {
  margin-top: 25%;
}

/* line 122, ../sass/style.scss */
#portfolio {
  background: linear-gradient(90deg, #fff1d1, #fffcf4);
  padding-top: 3%;
}

/* line 127, ../sass/style.scss */
#portfolio-summary {
  color: #545454;
  /*
  	#site1{ background: url("../assets/img/site-openspace.png"); }
  	#site2{ background: url("../assets/img/site-dingdong.png"); }
  	#site3{ background: url("../assets/img/site-fiftyfifty.png"); }
  	#site4{ background: url("../assets/img/site-compost.png"); }
  */
}
/* line 129, ../sass/style.scss */
#portfolio-summary h4 {
  margin-top: 0;
  font-size: 25px;
}
/* line 134, ../sass/style.scss */
#portfolio-summary input[type=button]:hover {
  animation-duration: 0.8s;
  color: white;
}
/* line 139, ../sass/style.scss */
#portfolio-summary #site1, #portfolio-summary #site2, #portfolio-summary #site3, #portfolio-summary #site4 {
  background-color: #fff1d1;
  color: #545454;
  padding: 1%;
  white-space: normal;
  margin: 1% 0;
  width: 200px;
  height: 134px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.4s;
}
/* line 149, ../sass/style.scss */
#portfolio-summary #site1:hover, #portfolio-summary #site2:hover, #portfolio-summary #site3:hover, #portfolio-summary #site4:hover {
  background-color: white;
}

/* line 162, ../sass/style.scss */
#portfolio-full {
  margin-top: 5%;
  height: 500px;
  border: 1px solid lightgrey;
  background-color: #e1e2ec;
}
/* line 167, ../sass/style.scss */
#portfolio-full #contents {
  text-align: left;
  position: relative;
  padding: 2%;
  opacity: 0;
  transition: opacity 0.2s;
}
/* line 174, ../sass/style.scss */
#portfolio-full #contents a:hover, #portfolio-full #contents a:visited:hover {
  color: orange;
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes jingle {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 5px;
  }
  30% {
    margin-top: 0;
  }
  45% {
    margin-top: 5px;
  }
  70% {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  /* line 202, ../sass/style.scss */
  #about {
    text-align: center;
    padding: 0 5%;
  }
  /* line 205, ../sass/style.scss */
  #about #contact {
    margin-top: 5%;
    text-align: center;
    padding-left: 0;
  }
}
