@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font: Open Sans, sans-serif;
$bgColor: #fbeeee;

html, body{
	background-color: $bgColor;
}

body{
	font-family: $font;
	font-size: 16px;
	text-align: center;
}
a{
	color: #545454;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	&:hover{
		text-decoration: none;
		color: orange;
	}
}

ul{
	list-style-type: none;
	li{
		text-align: left;
	}
}
#card-container{
	width: 370px;
	height: 118px;
	margin: 0 auto;
	margin-top: 5%;
}
#card{
	opacity: 0;
	background-color: #fbfbfb;
	width: 370px;
	height: 118px;
	border: 1px solid grey;
	border-radius: 2px;
	box-shadow: 5px 5px 0px grey;
	-webkit-box-shadow: 5px 5px 0px grey;
	-moz-box-shadow: 5px 5px 0px grey;
	padding: 1%;
	h1{ margin-top: 0; }
	cursor: move;
	z-index: 3;
	position: absolute;
}
#under-card{
	opacity: 0;
	width: 370px;
	height: 118px;
//	background-image: url("../img/homer.jpg");
	border-radius: 1px;
	background-color: black;	
	position: absolute;
	z-index: 2;
}

#contact{
	margin-top: 10%;
}
