@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font: Open Sans, sans-serif;
$bgColor: #fbeeee;

html, .container-fluid{
	background-color: $bgColor;
}

body{
	font-family: $font;
	text-align: center;
}

